$green: #189066;
$black: #1E1E1E;
$white: #F9F9F9;
$gray1: #949494; // background: #fff, font-size: 14~18px, fone-weight: bold (명암비 3:1)
$gray2: #909090; // background: #f9f9f9, font-size: 14~18px, fone-weight: bold (명암비 3:1)
$gray3: #767676; // background: #fff, font-size: 14~18px, fone-weight: regular (명암비 4.5:1)
$gray4: #737373; // background: #f9f9f9, font-size: ~13px, fone-weight: regular, medium (명암비 4.5:1)