@charset "utf-8";
@import "_var", "_mixin";
// 지원 브라우저 ie 11+

// web font
@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans KR"),
     url("../fonts/NotoSansKR-Regular.woff2") format("woff2"),
     url("../fonts/NotoSansKR-Regular.woff") format("woff"),
     url("../fonts/NotoSansKR-Regular.otf") format("opentype"),
     url("../fonts/NotoSansKR-Regular.svg#NotoSansKR") format('svg');
}
@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans KR"),
     url("../fonts/NotoSansKR-Medium.woff2") format("woff2"),
     url("../fonts/NotoSansKR-Medium.woff") format("woff"),
     url("../fonts/NotoSansKR-Medium.otf") format("opentype"),
     url("../fonts/NotoSansKR-Medium.svg#NotoSansKR") format('svg');
}
@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans KR"),
     url("../fonts/NotoSansKR-Bold.woff2") format("woff2"),
     url("../fonts/NotoSansKR-Bold.woff") format("woff"),
     url("../fonts/NotoSansKR-Bold.otf") format("opentype"),
     url("../fonts/NotoSansKR-Bold.svg#NotoSansKR") format('svg');
}

// tag reset
body, h1, h2, h3, h4, p, ul, button{margin: 0;padding: 0;}
h1, h2, h3, h4{font-size: 100%;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none;color: inherit;}
img{vertical-align: top;}
img, video{max-width: 100%;}
button{font-family: inherit;font-size: inherit;color: inherit;border: none;background: none;cursor: pointer;}
header, nav, section, footer{display: block;}

// common class
.f_l{float: left;}
.f_r{float: right;}
.p_r{position: relative;}
.p_a{position: absolute;}
.clearfix::after{content: "";display: block;clear: both;}
.blind{width: 1px;height: 1px;overflow: hidden;border: none;position: absolute;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}
.max1440{width: 100%;max-width: 1440px;margin: 0 auto;}

// body
body{
    font-family: NotoSansKR, "맑은 고딕", "Malgun Gothic", sans-serif;font-size: 16px;color: $black;line-height: 1;font-weight: 400;word-break: keep-all;letter-spacing: -0.035em;
    *{box-sizing: border-box;}
}

// skip navigation
#skip a{
    position: absolute;top: 0;left: -9999px;z-index: 1000;
    &:focus{left: 0;width: 100%;height: 50px;line-height: 50px;color: $white; font-weight: 700;background: $green;text-align: center;}
}

// 마우스 커서 이벤트
#circle{position: absolute;top: -74px; left: -74px;width: 64px;height: 64px;border-radius: 50%;background: rgba(24, 144, 102, 0.5);}

// header
.header{
    @include flex;
    @include justify-content(space-between); // 내부 요소들을 양 끝에 배치
    @include align-items;
    position: fixed;top: 0;left: 0;width: 100%;height: 90px;padding: 0 150px;z-index: 900;
    .logo{
        a{display: block;width: 64px;height: 30px;background: url("../images/common/header_logo_w.png") no-repeat center / cover;}
    }
    .util{
        position: absolute;top: 30px;right: 150px;height: 30px;
        .search_btn{width: 24px;height: 24px;background: url("../images/common/search_btn_w.png") no-repeat center / cover;margin: 3px 0;}
    }
}
.header.on{
    background: $white;
    .logo a{background-image: url("../images/common/header_logo.png");}
    .util{
        .search_btn{background-image: url("../images/common/search_btn.png");}
    }
}
#pc_head{
    .pcGnb{
        margin-right: 96px;
        > ul{
            @include flex;
            > li{
                > a{display: block;line-height: 27px;border-bottom: 3px solid transparent;margin: 0 24px;font-weight: 700;color: $white;}
                &:hover > a, > a:focus, &.on > a{border-bottom-color: $green;color: $green;}
            }
        }
    }
}
#pc_head.on{
    .pcGnb{
        ul > li{
            > a{color: $gray;}
            &:hover > a, > a:focus, &.on > a{color: $green;}
        }
    }
}
#m_head{visibility: hidden;height: 0;overflow: hidden;}

// footer


// Media Query
@media screen and (max-width: 1520px) {
  .max1440{max-width: 100%;padding: 0 22px;}
}

// 작은 pc
@media screen and (max-width: 1440px) {
    // header
        
    // footer
}

// 태블릿
@media screen and (max-width: 1152px) {
    .max1440{padding: 0 90px;margin: 0;}

    // header
    // pc_head는 태블릿에서 보이지 않게 숨긴다
    #pc_head{display: none;}

    .header{
        padding: 0 90px;
        .util{top: 22px;right: 90px;}
    }
    #m_head{
        visibility: visible;height: 74px;overflow: visible;

        .mGnb_open_btn{width: 24px;height: 24px;background: url("../images/common/mGnb_open_btn_w.png") no-repeat center / cover;margin: 3px 0 3px 24px;}
        &.on .mGnb_open_btn{background-image: url("../images/common/mGnb_open_btn.png");}
        .mGnb_dim{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: $black;opacity: 0;}
        .mGnb_wrap{
            position: fixed;top: 0;right: -100%;width: 100%;height: 100vh;background: $white;padding: 0 90px;visibility:hidden;overflow-y: auto;
            .mGnb_top{
                @include flex;
                @include align-items;
                padding: 22px 0px;     
                > a > img{width: 64px;height: 30px;margin: 1px 0;}
            }
            .mGnb{
                ul li{
                    a {display: block;padding: 18px 0;font-size: 18px;font-weight: 700;color: $gray;border-bottom: 1px solid #eee;line-height: 1.3;}
                    &:hover > a, > a:focus{color: $black;}
                }
            }
            .mGnb_close_btn{
                position: absolute;top: 22px;right: 90px;
                img{width: 32px; height: 32px;}
            }
        }
    }
    // footer
}

// 모바일
@media screen and (max-width: 690px) {
    // header
    .header{
        padding: 0 24px;
        .util{right: 24px;}
    }
    #m_head{
        .mGnb_wrap{
            padding: 0 24px;
            .mGnb_close_btn{right: 24px;}
        }
    }
    // footer
}