@charset "utf-8";
@import "_var", "_mixin";

/* common class */
.greenbox{
  &::before{
    @include transition(all .5s);
    content: "";position: absolute;bottom: 0;left: 0;width: 0%;height: 40%;background: $green;z-index: -1;opacity: 0.5;}
}
.greenbox.on{
  &::before{width: 100%;}
}
.movetop{opacity: 0;}
.movetop.on{@include animation(movetop 1.2s ease-out .5s forwards);}
.verticalscroll.on{@include animation(verticalscroll 30s linear infinite);}
.horizontalscroll.on{@include animation(horizontalscroll 30s linear infinite);}

/* motion keyframes */
@keyframes movetop {
  0% {
      opacity: 0;
      -moz-transform: translateY(40px);
      -ms-transform: translateY(40px);
      -webkit-transform: translateY(40px);
      transform: translateY(40px);
  }
  100% {
      opacity: 1;
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0)
  }
}
@keyframes verticalscroll {
  0% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
  100% {
      -moz-transform: translateY(-2000px);
      -ms-transform: translateY(-2000px);
      -webkit-transform: translateY(-2000px);
      transform: translateY(-2000px)
  }
}
@keyframes horizontalscroll {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
      -moz-transform: translateX(-1200px);
      -ms-transform: translateX(-1200px);
      -webkit-transform: translateX(-1200px);
      transform: translateX(-1200px);
  }
}
@keyframes arrowMove {
  0%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
  50% {
      -moz-transform: translateY(8px);
      -ms-transform: translateY(8px);
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
  }
}

// pc (1920px)
#fullpage{position: relative;width: 100%;height: 100%;}
#cnt1{
  position: relative;
  .swiper-container{margin: 0 auto;overflow: hidden;width: 100%;height: 100vh;color: $white;}
  .swiper-slide{
    background: no-repeat center / cover;
    &.slide1{background-image: url("../images/main/cnt1_img01.jpeg");}
    &.slide2{background-image: url("../images/main/cnt1_img02.jpeg");}
    &.slide3{background-image: url("../images/main/cnt1_img03.jpeg");}
  }  
  .cnt_box{
    @include translateY-50;
    position: absolute;top: 50%;left: 150px;text-shadow: 1px 1px 4px rgba(0,0,0,.2);
    h3{font-size: 48px;margin-bottom: 30px;line-height: 68px;letter-spacing: -1px;font-weight: 700;}
  }
  .controller{
    @include flex;
    position: absolute;bottom: 80px;left: 150px;width: 184px;height: 48px;z-index: 800;
    .swiper-pagination, .swiper-button-prev, .swiper-button-next{position: static;} // position 속성을 제거할 경우 position: static;
    .swiper-button-wrap{@include flex;}
    .swiper-button-prev, .swiper-button-next{
      @include transition(all 0.3s);
      margin-top: 0;width: 48px;height: 48px;background: no-repeat 50% / cover;margin-right: 24px;
      &::after{display: none;} // 기본 파란색 버튼 없애기
    }
    .swiper-button-prev{
      background-image: url("../images/main/slide_prev_btn_w.png");
      &:hover, &:focus{background-image: url("../images/main/slide_prev_btn.png");}
    }
    .swiper-button-next{
      background-image: url("../images/main/slide_next_btn_w.png");
      &:hover, &:focus{background-image: url("../images/main/slide_next_btn.png");}
    }
    .swiper-pagination{
      @include flex;
      @include justify-content(space-between);
      font-size: 16px;line-height: 46px;color: rgba(255, 255, 255, 0.4);
      .swiper-pagination-current, .swiper-pagination-total{font-weight: 500;color: rgba(255, 255, 255, 1);}
    }
    .swiper-auto-wrap i{
      position: absolute;top: 50%;@include translateY-50;right: -48px;padding: 16px;
      &:hover, &:focus{color: $green;}
    }
  }
  .btm_btn{
    @include translateX-50;
    position: absolute;bottom: 66px;left: 50%;z-index: 700;
    button{
      @include animation(arrowMove 1.6s infinite);
      width: 64px;height: 62px;background: url("../images/main/cnt1_bottom_btn.png") no-repeat center / contain;
    }
  }
}
#cnt2{
  .wide_section{
    width: 100%;
    #cnt_wrap{
      max-width: 1440px;margin: 0 auto;padding: 142px 90px 152px;width: 100%;text-align: center;
      p{font-size: 18px;line-height: 20px;letter-spacing: -0.3px;margin-bottom: 36px;font-weight: 700;}
      h3{
        font-size: 42px;line-height: 60px;letter-spacing: -1px;margin-bottom: 48px;color:$gray;
        strong{position: relative;color: $black;}
      }
    }
  }
}
#cnt3{
  background: #f9f9f9;
  #cnt_wrap{
    max-width: 1440px;margin: 0 auto;padding: 202px 90px 120px;text-align: center;
    h3{
      font-size: 42px;line-height: 60px;letter-spacing: -1px;margin-bottom: 48px;color:$gray;text-align: left;
      strong{position: relative;color: $black;}
    }
    #book_list{
      @include flex;
      @include justify-content(space-between);
      @include animation-delay(.8s);
      margin-bottom: 48px;
      li{width: 18%;border-radius: 24px;overflow: hidden;box-shadow: 4px 12px 30px 6px rgba(0,0,0,.09);}
      a{
        position: relative; display: block;
        &::before{
          @include transition(all .3s);
          content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.7);opacity: 0;
        }
        .hover_book{
          position: absolute;bottom: 0;left: 0;background: $green;color: $white;text-align: left;height: 100%;width: 100%;display: none;font-size: 16px;padding: 32px 24px 0 24px;border-radius: 24px;
          .pc_txt_box{
            strong{font-size: 20px;display:block;padding-bottom: 20px;@include ellipsis;}
            p{line-height: 24px;@include ellipsis;}
            span{display: block;line-height: 25px;margin-top: 10px;@include multiEllipsis(6, 150px);}
          }
        }
        img{width: 100%;}
      }
      a.on{
        &::before{opacity: 1;}
      }
    }
    #m_book_list{visibility: hidden;height: 0;overflow: hidden;}
    .link_btn{@include animation-delay(1.2s);}
  }
}
#cnt4{
  #cnt_wrap{
    @include flex;
    @include justify-content(space-between);
    padding: 0 90px;margin: 0 auto;max-width: 1440px;height: 100vh;
    .left_box{
      margin: auto 0; width: 50%;
      p{font-size: 18px;line-height: 20px;letter-spacing: -0.3px;margin-bottom: 36px;font-weight: 700;}
      h3{
        font-size: 42px;line-height: 60px;letter-spacing: -1px;margin-bottom: 48px;color:$gray;
        strong{position: relative;color: $black;}
      }
    }
    .m_left_box{display: none;}
    .right_box{
      @include animation-delay(.8s);
      @include flex;
      @include justify-content(flex-end);
      width: 50%;overflow: hidden;
      ul{
        display: inline-block;margin-right: 6%;width: 43%;height: calc(352px * 15);vertical-align: top;
        li{
          position: relative;margin-top: 32px;width: 100%;border-radius: 24px;overflow: hidden;
          img{width: 100%;}
          span{position: absolute;font-size: 18px;font-weight: 700;line-height: 18px;color: $white;top: 50%;left: 0;@include translateY-50; width: 100%;text-align: center;letter-spacing: 0;text-shadow: 1px 1px 4px rgba(0,0,0,.6);}
        }
      }
      .second{margin: -160px 0 0 0;}
    }
  }
}
#cnt5{
  position: relative;overflow: hidden;
    .left_box{
      margin: 0 auto;max-width: 1440px;height: 100%;
      .left_box_wrap{
        @include translateY-50;
        position: absolute;top: calc(50% + 45px);left: 90px;width: 100%;color: $white;text-shadow: 1px 1px 4px rgba(0,0,0,.2);
        p{font-size: 18px;line-height: 20px;letter-spacing: -0.3px;margin-bottom: 36px;font-weight: 700;}
        h3{
          font-size: 42px;line-height: 60px;letter-spacing: -1px;margin-bottom: 48px;
          strong{position: relative;}
        }
      }
    }
    .video_bg{
      position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;z-index:-1;
    }
}
#cnt6{
  #cnt_wrap{
    padding: 90px 90px 120px 90px;margin: 0 auto;max-width: 1440px;text-align: center;
    .notice_box{
      h3{
        font-size: 42px;line-height: 60px;letter-spacing: -1px;margin-top: 45px;margin-bottom: 48px;color:$gray;text-align: left;
        strong{position: relative;color: $black;}
      }
      ul{
        @include flex;
        @include flex-wrap;
        @include animation-delay(.8s);
        margin-bottom: 48px;
        li{
          margin: 0;width: calc(25% - 24px);margin-left: 32px;
          &:first-child{margin-left: 0;}
          a{
            display: block;text-align: left;
            .thumb_box{
              position: relative;width: 100%;height: 100%;border-radius: 24px;overflow: hidden;box-shadow: 4px 12px 30px 6px rgba(0,0,0,.09);
              &::before{
                @include transition(all .3s);
                content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.4);opacity: 0;
              }  
            }
            .txt_box{
              p{font-size: 18px;line-height: 24px;margin: 20px 0;letter-spacing: -0.3px;font-weight: 700;@include multiEllipsis(2, 48px);}
              span{display: block;font-size: 16px;line-height: 1;color: $gray;letter-spacing: 0;}
            }
            &:hover, &:focus{
              color: $green;@include transition(all 0.3s);
              .thumb_box::before{opacity: 1;}
            }
          }
        }
      }
      .link_btn{@include animation-delay(1.2s);}
    }
  }
}

// 작은 pc (1440px)
@media screen and (max-width: 1440px) {
  #cnt1{
    .cnt_box{left: 90px;}
    .controller{left: 90px;}
  }
  #cnt3{
    position: relative;
    .wide_section{
      @include translateY-50;
      position: absolute;top: calc(50% + 45px);left: 0;
      #cnt_wrap{
        padding: 0 90px;
        #book_list{
          a{
            .hover_book{
              .pc_txt_box{
                span{@include multiEllipsis(4, 100px);}
              }
            }
          }
        }
      }
    }
  }
  #cnt6{
    #cnt_wrap{padding: 0 90px;}
  }
}

// 태블릿 (1152px)
@media screen and (max-width: 1152px) {
  #cnt1{
    .swiper-container{height: 90vh;}
  }
  #cnt2{
    .wide_section{
      #cnt_wrap{
        h3{font-size: 36px;line-height: 50px;}
      }
    }
  }
  #cnt3{
    .wide_section{
      position: static;top: unset;left: unset;display: unset;
      #cnt_wrap{
        padding: 120px 90px 80px;
        h3{margin-bottom: 0;font-size: 36px;line-height: 50px;}
        #book_list{display: none;}
        #m_book_list{
          visibility: visible;height: 100%;overflow: visible;margin-bottom: 48px;
          li{
            @include flex;
            @include align-items;
            @include justify-content(space-between);
            padding: 48px 0;border-bottom: 1px solid #eee;
            a{
              position: relative;display: block;width: 200px;height: 288px;overflow: hidden;border-radius: 24px;box-shadow: 4px 12px 30px 6px rgba(0,0,0,.09);margin-right: 48px;
              img{
                @include translateY-50;
                position: absolute;left: 0;top: 50%;width: 100%;
              }
            }
          }
          .m_txt_box{
            @include flex;
            @include flex-direction;
            @include justify-content(space-between);
            text-align: left;color: $gray;font-size: 18px;width: calc(100% - 248px);
            strong{display: block;font-size: 24px;color: $black;padding: 12px 0;@include ellipsis;}
            p{line-height: 36px;padding: 12px 0;@include ellipsis;}
            span{display: block;line-height: 36px;@include multiEllipsis(4, 144px);}
          }
        }  
      }
    }
  }
  #cnt4{
    #cnt_wrap{
      display: block;padding: 0;height: auto;
      .left_box{display: none;}
      .m_left_box{
        display: block;padding: 120px 90px 48px;width: 100%;
        p{font-size: 18px;line-height: 20px;letter-spacing: -0.3px;margin-bottom: 36px;font-weight: 700;}
        h3{
          font-size: 36px;line-height: 50px;letter-spacing: -1px;margin-bottom: 48px;color:$gray;
          strong{position: relative;color: $black;}
        }  
      }
      .right_box{
        display: inline-block;margin-bottom: 80px;width: 100%;
        ul{
          @include flex;
          width: calc(212px * 15);height: auto;
          li{
            margin-top: 0;margin-right: 12px;width: 200px;height: 200px;
            span{font-size: 14px;line-height: 1.2;}
          }
        }
        .second{margin: 0 0 0 -84px;margin-top: 12px;}
      }
    }
  }
  #cnt5{
    height: 860px;
      .left_box{
        .left_box_wrap{
          top: 50%;
          h3{font-size: 36px;line-height: 50px;}
        }
      }
  }
  #cnt6{
    #cnt_wrap{
      padding: 120px 90px 80px;
      .notice_box{
        h3{margin-top: 0;font-size: 36px;line-height: 50px;}
        ul{
          margin-bottom: 80px;
          li{
            width: calc(50% - 16px);margin-left: 32px;margin-bottom: 46px;
            &:first-child, &:nth-child(3){margin: 0;}
            &:nth-child(4){margin-bottom: 0;}
            a{
              .txt_box{
                p{margin: 20px 0 12px;min-height: 24px;}
              }
            }
          }
        }
      }
    }
  }
}

// 모바일 (690px)
@media screen and (max-width: 690px) {
  #cnt1{
    .swiper-container{height: 80vh;}
    .swiper-slide{
      &.slide1{background-image: url("../images/main/m_cnt1_img01.png");}
      &.slide2{background-image: url("../images/main/m_cnt1_img02.png");}
      &.slide3{background-image: url("../images/main/m_cnt1_img03.png");}
    }  
    .cnt_box{
      left: 24px;
      h3{font-size: 32px;margin-bottom: 24px;line-height: 1.5;}
    }
    .controller{
      left: 24px;width: 160px;height: 36px;bottom: 24px;
      .swiper-button-prev, .swiper-button-next{width: 36px;height: 36px;}
      .swiper-pagination{line-height: 34px;}
      .swiper-auto-wrap i{right: -36px;padding: 10px;}  
    }
    .btm_btn{display: none;}  
  }
  #cnt2{
    .wide_section{
      #cnt_wrap{
        padding: 48px 24px 36px;
        p{font-size: 14px;margin-bottom: 20px;}
        h3{font-size: 24px;line-height: 1.5;margin-bottom: 24px;}
      }
    }
  }
  #cnt3{
    .wide_section{
      #cnt_wrap{
        padding: 48px 24px 60px;
        h3{font-size: 24px;line-height: 1.5;margin-bottom: 8px;}
        #m_book_list{
          margin-bottom: 24px;
          li{
            padding: 16px 0;
            a{width: 168px;height: 243px;border-radius: 12px;margin-right: 24px;}
          }
          .m_txt_box{
            font-size: 16px;width: calc(100% - 192px);
            strong{font-size: 18px;line-height: 1.5;padding: 8px 0;}
            p{line-height: 1.5;line-height: 1.5;}
            span{line-height: 1.5;@include multiEllipsis(5, 150px);}
          }
        }  
      }
    }
  }
  #cnt4{
    #cnt_wrap{
      .m_left_box{
        padding: 48px 24px 40px;
        p{font-size: 14px;margin-bottom: 20px;}
        h3{font-size: 24px;line-height: 1.5;margin-bottom: 24px;}  
      }
      .right_box{
        margin-bottom: 76px;
        ul{
          width: calc(162px * 15);
          li{width: 150px;height: 150px;}
        }
      }
    }
  }
  #cnt5{
    height: 70vh;
      .left_box{
        .left_box_wrap{
          left: 24px;
          p{font-size: 14px;margin-bottom: 20px;}
          h3{font-size: 24px;line-height: 1.5;margin-bottom: 24px;}    
        }
      }
  }
  #cnt6{
    #cnt_wrap{
      padding: 48px 24px 60px;
      .notice_box{
        h3{font-size: 24px;line-height: 1.5;margin-bottom: 24px;}
        ul{
          margin-bottom: 24px;
          li{
            width: calc(50% - 8px);margin-left: 16px;margin-bottom: 24px;
            a{
              .thumb_box{border-radius: 12px;}
              .txt_box{
                p{font-size: 16px;line-height: 20px;margin: 12px 0 8px;@include multiEllipsis(2, 40px);}
                span{font-size: 14px;}
              }
            }
          }
        }
      }
    }
  }
  .slide_link_btn{padding: 0 45px 0 26px;font-size: 14px;}
  .link_btn{padding: 0 30px;height: 46px;line-height: 46px;font-size: 14px;}
}